# Dev environment
pip
autopep8

# App
langchain_core
langchain-google-genai # This package contains the LangChain integrations for the Gemini API.
streamlit 
langchain 
langchain-community 
brave-search